@model MVCproject.Models.tblproductcategory

@{
    ViewBag.Title = "Delete";
}

<h2>Update Product Category</h2>

<div class="card mb-4" style="width: 1002px;">
    <div class="card-header">
        Update Product Category
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">

                    <input type="text" name="preprocat" id="preprocat" class="form-control form-control-user" value="@(ViewBag.preprocatnamedt ?? String.Empty)" disabled />
                </div>
               

                <div class="text-center">
                    <input type="submit" value="Delete" class="btn btn-primary btn-user btn-block" />

                    @*<p class="alert-danger">@ViewBag.chk</p*@>

                </div>


            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.MessageDT");
            };


    </script>

}